/*
pink: #ec008c
dark pink: #9e1064
light pink: #d89fc1
light gray: #eaeaea
gray: #666
dark gray: #282828
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
  background: #eaeaea;

  font-family: sans-serif;
  font-size: 16px;
}

section > header {
  background: #282828;
  color: white;
  font-family: sans-serif;
  height: 3rem;
}

section > header > h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 3rem;
  width: 50%;
  text-align: center;
  letter-spacing: 1px;
}

section > header > nav {
  float: right;
  width: 6rem;
}

section > header > nav > a {
  color: white;
  width: 50%;
  text-align: center;
  float: left;
  font-size: 2rem;
  line-height: 3rem;
  background: #ec008c;
  display: inline-block;
  text-decoration: none;
}

section > header > nav > .prev:first-child:before {
  content: "<";
}
section > header > nav > .prev:first-child {
  border-right: 1px solid #282828;
}

section > header > nav > .next:last-child:before {
  content: ">";
}
section > header > nav > .next:last-child {
  border-left: 1px solid #282828;
}

section > header > nav > a.slick-disabled {
  transition: all .25s ease;
}

section > header > nav > a.slick-disabled {
  background: #9e1064;
  color: #d89fc1;
  cursor: default;
}

.latnav-card {
  position: relative;
  width: 100%;

  background: white;
}

.latnav-card:before{
  content: "";
  display: block;
  padding-top: 50%;
}

.latnav-card > .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.latnav-card > .content > .image {
  width: 50%;
  padding: 3%;
  float: left;
}

#upcoming-events .latnav-card > .content > .image {
  padding: 6%;
}

#upcoming-events .latnav-card > .content > .image > img {
  border-radius: 50%;
}

#from-the-shop .latnav-card > .content > .image {
  float: right;
}

.latnav-card > .content > .info {
  float: left;
  height: 100%;
  width: 50%;
  padding-right: 6%;
}

#from-the-shop .latnav-card > .content > .info {
  float: right;
  padding-left: 6%;
  padding-right: 0;
}

.latnav-card > .content > .info > .supertitle {
  margin-top: 9%;

  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 600;
}

.latnav-card > .content > .info > h2 {
  font-weight: 300;
  font-size: 1.3rem;
  margin-top: .5rem;
}

#from-the-shop .latnav-card > .content > .info > h2 {
  margin-top: 20%;
}

#from-the-shop .latnav-card > .content > .info > .price-string {
  margin-top: 15%;
  font-weight: 600;
  font-style: italic;
}

#upcoming-events .latnav-card > .content > .info > .price-string {
  margin-top: 15%;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  bottom: 9%;
}

.latnav-card > .content > .info > .byline {
  text-transform: uppercase;
  position: absolute;
  bottom: 9%;
  color: #666;
  font-size: .9rem;
}

.latnav-card > .content > .info > .byline > em {
  text-transform: none;
  font-family: serif;
  font-size: .8rem;
}
