@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* scale images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media \0screen {
  img {
    width: auto; // ie hack
  }
}
/* end reset */

h1, h2 {
  font-family: 'Open Sans';
}

body {
  font-family: 'Merriweather';
}

a {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: underline;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
}

.personal {
  width: 45%;
  float: left;
}


.story {
  margin-top: 1em;

  float: left;
  clear: left;
}

.story p {
  margin-bottom: 1em;
  line-height: 1.4em;
}

.photo {
  float: left;
}

.lede {
  width: 100%;
  font-weight: 600;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1.4em;
}

.projects {
  float: right;
  width: 53%;
  margin-left: 2%;

}

.projects h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.projects h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: .4em;
}

.projects ul {
  margin-left: 1.4em;
  margin-bottom: 1em;
  margin-top: .4em;
  list-style: disc;
}

.projects ul li {
  margin-bottom: .4em;
  line-height: 1.4em;
}
