body {
  background: #b5ffd9;
}

.container {
  background: #e1ffef;
  border-left: 40px solid #c9ffe3;
  border-right: 40px solid #c9ffe3;
}

.head {
  margin-bottom: 1em;
}

.head header {
  margin-top: 1em;
  text-align: center;
  background: #474d4d;
}

.head header h1 {
  color: #e1ffef;
  font-size: 6em;
  font-weight: bold;
  line-height: 1.8em;
}

.projects > div {
  text-align: center;
  padding-top: 1em;
  background: #474d4d;
}

.glossy,
.asteroids {
}

.glossy h2,
.asteroids h2 {
  color: #e1ffef;
}

.glossy h3,
.asteroids h3 {
  color: #e1ffef;
}

.glossy-gif {
  width: 98%;
}

.asteroids-gifs {
  width: 100%
}

.asteroids-gifs li {
  float: left;
  width: 32%;
  margin-left: 1%;
}

.asteroids-gifs li img {
  width: 100%;
}
