body {
  background: #b5ffd9;
}

.container {
  background: #e1ffef;
  border-left: 40px solid #c9ffe3;
  border-right: 40px solid #c9ffe3;
  padding-bottom: 50px;
}

.head header {
  text-align: center;
}

.head header h1 {
  color: #e1ffef;
  font-size: 6em;
  font-weight: bold;
  line-height: 1.8em;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.projects > div {
  text-align: center;
}

.glossy header,
.asteroids header,
.about header {
  width: 94%;
  margin: 0 auto;
  margin-top: .2em;
  background: #c9ffe3;
  padding: .3em;
  padding-top: .5em;
  -webkit-box-shadow: 0 8px 6px -6px rgba(244,115,130,0.5);
     -moz-box-shadow: 0 8px 6px -6px rgba(244,115,130,0.5);
          box-shadow: 0 8px 6px -6px rgba(244,115,130,0.5);
}

.glossy h2,
.about h2 {
  letter-spacing: .05em;
  color: #f47382;
}

.asteroids h2 {
  letter-spacing: .1em;
  font-size: 2em;
  color: #f47382;
}

.glossy h3,
.asteroids h3 {
  padding-top: .2em;
  letter-spacing: .05em;
  color: #474d4d;
  font-size: 1.4em;
}

.glossy-gif {
  margin-top: 1em;
  width: 98%;
}

.asteroids-gifs {
  margin-top: 1em;
  width: 100%
}

.asteroids-gifs li {
  float: left;
  width: 32%;
  margin-left: 1%;
}

.asteroids-gifs li img {
  width: 100%;
}

.other h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.other a {
  margin-bottom: .6em;
}

.about .photo img {
  margin-top: 2em;
  width: 100%;
  border: 2px solid #f47382;
}

.about div {
  text-align: center;
}

.about header {
  margin-bottom: 1em;
}

